
body{
    font-family: "PT Sans Caption", sans-serif;
    background-image: linear-gradient(#FEFFD2,#FEFFD2);

}
h1{
        position: relative;
        display: inline-block;
        font-size: 50px;
        font-family: "Pacifico", cursive;
        color: #352e28;
}
h1::after{
    content: '';
    width: 100%;
    height: 30%;
    background-color: #FFBF78;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.2s ease-in;
}
h1:hover::after{
    height: 70%;
}

.h3{
    font-family: "Righteous", cursive;
    background-image:linear-gradient(#C40C0C,#FF6500);
    color: transparent;
    background-clip:text;
}
.bode{
    border-width : 1px 0 1px ;
    border-style: dashed;
    border-color: #352e28;
}
.form-control:focus{
    border-color: orange;
    box-shadow: 0 0 0 .25rem rgba(255, 165,0, .25);
}
.info{
    background-color: rgba(0, 0, 0,0.5);
}
.btn-close{
    top: 15px;
    right: 15px;
}